.container {
  width: 100%;
  padding: 0 20px;
}

.input-group-inline {
  display: flex;
}
.input-group-wrapper {
  margin-right: 15px;
}

.color-item {
  margin: 5px 0;
}

.color-item span {
  display: inline-block;
  min-width: 80px;
}

.color-item .color-block {
  width: 5em;
  height: 1em;
  margin-right: 10px;
}
.color-item .color-hex:before {
  content: '#'
}
.color-item .color-rgb:before {
  content: 'RGB('
}
.color-item .color-rgb:after {
  content: ')'
}
