.container {
  width: 100%;
  padding: 0 20px;
}

.input-group-inline {
  display: flex;
}
.input-group-wrapper {
  margin-right: 15px;
}

.color-item span {
  margin-left: 20px;
}

.color-item .color-block {
  display: inline-block;
  width: 5em;
  height: 1em;
  border: 1px solid #ccc;
  background-color: #fff;
}
.color-item .color-hex:before {
  content: '#'
}
.color-item .color-rgb:before {
  content: 'RGB('
}
.color-item .color-rgb:after {
  content: ')'
}
